html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
}

/* Header */
.header {
  height: 800px;
  background-image: url("../img/bgr1.jpg");
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 20px;
}

.options {
  margin-right: 50px;
}

.options a {
  padding: 10px 10px;
  text-decoration: none;
  color: white;
}

.tel a {
  height: 20px;
  padding: 5px;
  text-decoration: none;
  background-color: #ad2a09;
  color: white;
  border: white;
  border-radius: 5px;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 50px;
  margin-top: 50px;
}

.title h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: white;
}

.title h3 {
  font-family: 'Raleway', sans-serif;;
  font-size: 12px;
  margin-top: 0px;
  padding-top: 0px;
  color: white;
}

.subtitle {
  font-family: "Economica", sans-serif;
}

/* Hot to order */
.howtoorder {
  margin-top: 50px;
  margin-bottom: 50px;
}

.orders {
  display: flex;
  justify-content: space-around;
}

.order {
  text-align: center;
}

.subtitle {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #ad2a09;
  margin: 20px 20px;
  padding: 20px 20px;
}

.order {
  font-family: 'Economica', sans-serif;
  font-size: 18px;
}

.order img {
  width: 50px;
}

/* Our menu */
.ourmenu {
  background-image: url(../img/background.jpg);
  background-size: cover;
}

.menus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
}

.menu-middle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
}

.menu img {
  height: 300px;
}

.menu-middle img {
  height: 300px;
}


.menutable {
  border-spacing: 100px 30px;
}

.menutable .menuname {
  font-family: 'Economica', sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.menutable .menuoption {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: gray;
}

/* Find us at */
.findusat {
  text-align: center;
}

.findusat img {
  height: 1em;
}

.findusat .addr {
  font-family: 'Raleway', sans-serif;
  margin-left: 10px;
}

.findusat map {
  width: 100%;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
}

.footer .footerlogo {
  padding: 20px;
  margin: 20px;
}


.footer .socialmedias {
  padding: 20px;
  margin: 20px;
}

.socialmedia {
  margin: 10px;
}

@media only screen and (max-width: 900px) {
  .nav .options {
    display: flex;
    flex-direction: column;
  }
  .title h1 {
    font-size: 35px;
  }

  .options a {
    height: 10px;
    margin-top: 0px;
    padding-top: 0px;
  }

  .menutable {
    border-spacing: 50px 30px;
  }

  .menu {
    display: flex;
    flex-direction: column;
  }

  .menu img {
    padding: 30px;
  }

  .menu-middle {
    display: flex;
    flex-direction: column-reverse;

  }

  .menu-middle img {
    padding: 30px;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  .footerlogo {
    padding-left: 0px;
    margin-left: 0px;
  }

  .socialmedias {
    display: flex;
    justify-content: space-between;
  }

  .socialmedia  {
    width: 50px;
  }
}
